* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#characters-face {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#characters-face img {
    height: 13vh;
}

#timerContainer {
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

#main {
    position: relative;
    height: 87vh;
    overflow: scroll;
}


.target-box {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: darkturquoise;
    opacity: 0.5;
    border: 1px solid darkturquoise;
    z-index: 1;
}

#dropdown-menu {
    background-color:lightslategrey;
    z-index: 2;
    position: absolute;
    height: auto;
    width: 70px;
}

#dropdown-menu p {
    color: lightyellow;
    height: 40px;
    width: 70px;
}

#dropdown-menu p:hover {
    cursor: pointer;
    background-color: midnightblue;
}

.hidden {
    display: none;
}